
a:link {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');



#About {
    padding: 10px 15px;
    background-color: #05386b;
    color: #5cdb95;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

#About:hover{
    background: #5cdb95;
    color: #05386b;
    box-shadow: 0 0 5px #5cdb95,
                0 0 25px #5cdb95,
                0 0 50px #5cdb95,
                0 0 200px;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#Projects {
    padding: 10px 15px;
    background-color: #05386b;
    color: #5cdb95;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

#Projects:hover{
    background: #5cdb95;
    color: #05386b;
    box-shadow: 0 0 5px #5cdb95,
                0 0 25px #5cdb95,
                0 0 50px #5cdb95,
                0 0 200px;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#Contact {
    padding: 10px 15px;
    background-color: #05386b;
    color: #5cdb95;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

#Contact:hover{
    background: #5cdb95;
    color: #05386b;
    box-shadow: 0 0 5px #5cdb95,
                0 0 25px #5cdb95,
                0 0 50px #5cdb95,
                0 0 200px;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}