
body {
    /* color: white; */
    color: #5cdb95;
    background-color: #05386b;
    font-family: 'Chakra Petch', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Navigation */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

@media (max-width: 55em) {
    .nav-links {
        /* position: fixed;  */
        inset: 0 0 0 30%;
        flex-direction: column; 
        padding-right: 50px;
        background-color: #05386b;
    }

    .nav-links li {
        padding: 15px;
    }
}

#profile-nav {
    display: flex;
    justify-content: center;
}

#profile-nav img {
    width: 500%;
    height: 100%;
    padding-left: 75px; 
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}

nav ul li {
    padding: 0 25px;
    font-family: 'Source Code Pro', monospace;
    font-size: large;
}


.contact-form input {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

/* Introduction */

.intro-container {
    height: 100%;
    display: flex-row;
    justify-content: center;
}

.intro {
    padding-top: 75px;
    padding-left: 75px;
    height: 25%;
    width: 100%;
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    font: bold;
    padding-bottom: 25px;
}

.big-intro {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 200%;
}

.position { 
    font-family: 'Chakra Petch', sans-serif;
    font-size: 400%;
}

.end-intro {
    padding-top: 50px;
    padding-right: 200px;
    flex-wrap: wrap;
}


/* About section */
/*  ///////////////////////////////////////////////////// */

.about-container {
    height: 100%;
    display: flex; 
    width: 100%;
}


.about-me-intro {
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 200px;
    flex-wrap: wrap;
    justify-content: start;
}

.about-me-intro h1 {
    padding-bottom: 25px;

}


.about-me-header {
    padding-left: 25px;
}

h1.about-me-header::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid lightgrey;
    width: 200px;
    height: 10px;
    margin-left: 20px;
    /* background-color: var(--lightest-navy); */
}

/* .profile-container {
    justify-content: end;
    
} */

.profile-pic img {
    padding-top: 50px;
    width: 40%;
    height: 40%;
}


/* ////////////////////////////////////////////////// */
/* Projects section */

.projects-container {
    height: 25%;
}


/* Contact section */

.contact-container {
    height: 25%;
}